<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

<Files .editorconfig>
    Order Allow,Deny
    Deny from all
</Files>

<Files .env>
    Order Allow,Deny
    Deny from all
</Files>

<Files .env.example>
    Order Allow,Deny
    Deny from all
</Files>

<Files .gitattributes>
    Order Allow,Deny
    Deny from all
</Files>

<Files .gitignore>
    Order Allow,Deny
    Deny from all
</Files>

<Files .htaccess>
    Order Allow,Deny
    Deny from all
</Files>

<Files .styleci.yml>
    Order Allow,Deny
    Deny from all
</Files>

<Files artisan>
    Order Allow,Deny
    Deny from all
</Files>

<Files composer.json>
    Order Allow,Deny
    Deny from all
</Files>

<Files composer.lock>
    Order Allow,Deny
    Deny from all
</Files>

<Files error_log>
    Order Allow,Deny
    Deny from all
</Files>

<Files package-lock.json>
    Order Allow,Deny
    Deny from all
</Files>

<Files package.json>
    Order Allow,Deny
    Deny from all
</Files>

<Files phpunit.xml>
    Order Allow,Deny
    Deny from all
</Files>

<Files README.md>
    Order Allow,Deny
    Deny from all
</Files>

<Files webpack.mix.js>
    Order Allow,Deny
    Deny from all
</Files>